* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: beige;
    font-size: 20px;
    font-weight: 400;
    height: 100vh;
}



.conteiner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;
}

.player-0-pannel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.player-1-pannel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.center {
    position: absolute;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 50%;
    transform: translate(-50%);
}

/******************************
Button
*************************/
button {
    width: 200px;
    color: #555;
    background: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    display: flex;
    align-items: center;
}

button:hover {
    font-weight: 600;

}

.center .btn-roll,
.center .btn-hold,
.center .final-score {
    margin-bottom: 10px;
}

.center .btn-new {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
}

.center .final-score {
    border: none;
    text-align: center;
}

.center .final-score:focus {
    border-bottom: 2px solid #eb4d4d;
    outline: none;
    background-color: wheat;

}

/******************************
dice
*************************/
.dice {
    height: 100px;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 40%;
    box-shadow: 0px 10px 20px rgb(0, 0, 0);
    display: none;
}

/*
Icons
*/

.small-icons {
    color: #eb4d4d;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
}

/**************************
player
**************************/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.active {
    background-color: #f7f7f7;
}

.active .player-name {
    font-weight: 300;
}

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    top: -4px;
    color: #eb4d4d;
}

.winner {
    background-color: #fff;
}

.winner .player-name {
    font-weight: 600;
}

.winner .player-name::after {
    content: "\00269d";
    font-size: 78px;
    position: absolute;
    top: -40px;
    color: #eb4d4d;
}



.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #eb4d4d;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-box {
    background-color: #eb4d4d;
    width: 40%;
    color: #fff;
    margin: 0 auto;
    padding: 12px;
    text-align: center;

}